*

!archetypes
!archetypes/**
!assets
!assets/**
!codes
!codes/**
!config
!config/**
!content
!content/**
!layouts
!layouts/**
!public
!public/**
!resources
!resources/**
!static
!static/**
!themes
!themes/**

!.gitignore
!.gitmodules
!hugo.toml
!.hugo_build.lock
!README.md
